body{
  background-image: url("../images/pig-dice-fb680.jpg");

}
img{
  max-width: 300px;
  max-height: 200px;
}
.jumbotron{
  font-family: sans-serif;
  text-align: center;
  text-decoration-color: white;
  height: 250px;
  font-size: 30px;
  background-image: url("../images/images.jpeg");
}
.container{
  width:1000px;

}
.gif{
  float:right;
  text-align: center;
  padding: 10px;
  width:400px;
  margin-right: 30px;
}

li{
  font-style: italic;
}
.ng{
  float:left;
    padding: 10px;
    margin-left: 50px;
}
#players{
  width:700px;
  text-align: center;
  padding-left: 322px;
}

.gaming{
  width:950px;
  display: none;
}
.images{
  margin-left: 100px;
}


#newgame:hover{
  background-color: #10532C;
}
#newgame:active{
  transform: translateY(5px);
}
.panel-footer{
  margin-top: 30px;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 24px;
}
#title1{
  color: #405596;
}
#title2{
  color: #C75E5E;
}
#p1{
  font-family: 'Gaegu', cursive;
    font-size: 34px;
  margin-left: 20px;
}
#p2{
  font-family: 'Gaegu', cursive;
    font-size: 34px;
      margin-left: 20px;
}
#ready{
  background-color: orange;
}
#p1-hold{
  background-color: red;
}
#p2-hold{
  background-color: red;
}
